body {
  font-family: 'Alegreya', sans-serif;
  font-size: 95%;
  line-height: 1.3;
  background-color: #CFD8DC;
  color: #121212;
}

img {
  width: 90%;
  margin: auto;
}

#app {
  background-image: url(./gfx/bg_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

#episode {
  /*background: url(./gfx/paper.jpg);*/
  background-color: #f6efdf;
  /* background-color: #f6efdc; */
  color: #2f180e;
}

h1 {
  font-size: 2.747em;
}
h2 {
  font-size: 0.874em;
}
h3 {
  font-size: 1.229em;
}

/* (Required by Paragraph component): justified and indented text */
.justified {
  text-align: justify;
}

.indented {
  text-indent: 1em;
}
/* *** */

.ui-paragraph {
  font-size: 1.12em;
}

.ui-choice {
  font-size: 1.3em;
}

.ui-section hr {
  border: 0;
  height: 1px;
  width: 30%;
  background-image: linear-gradient(to right, rgba(127, 127, 127, 0), rgba(127, 127, 127, 0.75), rgba(127, 127, 127, 0));
}

a {
  color: #303F9F;
}
