.container_text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  line-height: var(--text-line-height);
  font-family: var(--font-face-game);
  font-size: var(--font-size-game);
}

/*
.container_text::-webkit-scrollbar {
  display: none;
}
*/
