.container_text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  line-height: calc(1ex / 0.32);
  font-family: var(--font-game);
  font-size: var(--game-font-size);
}

/*
.container_text::-webkit-scrollbar {
  display: none;
}
*/
