.checkbox_wrapper {
  display: inline-block;
  padding: 1px;
}

.checkbox_wrapper .checkbox {
  appearance: none;
  background-color: var(--bg-color);
  border-radius: 1rem;
  border: 1px solid var(--fg-color);
  flex-shrink: 0;
  height: 1.1rem;
  margin: 0;
  position: relative;
  width: 2rem;
}

.checkbox_wrapper .checkbox::before {
  bottom: -6px;
  left: -6px;
  right: -6px;
  top: -6px;
  content: "";
  position: absolute;
}

.checkbox_wrapper .checkbox,
.checkbox_wrapper .checkbox::after {
  transition: all 100ms ease-out;
}

.checkbox_wrapper .checkbox::after {
  background-color: var(--fg-color);
  border-radius: 50%;
  content: "";
  height: 0.9rem;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 0.9rem;
}

.checkbox_wrapper input[type=checkbox] {
  cursor: default;
}

.checkbox_wrapper .checkbox:checked {
  background-color: var(--fg-color);
}

.checkbox_wrapper .checkbox:checked::after {
  background-color: var(--bg-color);
  left: 0.95rem;
}

.checkbox_wrapper :focus:not(.focus-visible) {
  outline: 0;
}
