.button {
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-radius: var(--border-radius-inline);
  text-decoration: none;
  cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
}

.bordered {
  border: 1px solid var(--fg-color);
}

.bordered:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.bordered:disabled {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.borderless {
  border: 1px solid var(--bg-color);
}

.borderless:hover {
  border: 1px solid var(--fg-color);
}

.borderless:disabled {
  border: 1px solid var(--bg-color);
}
