{
  "extends": [
    "preact"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "brace-style": ["error", "1tbs"],
    "indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/no-danger": [0]
  }
}
