<!DOCTYPE html>
<html lang="<%- atrament_language %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#da532c">
    <script type="text/javascript">window.$atramentConfig=<%- atrament_config_json %>;</script>
    <%- neutralino %>
  </head>
  <body>
    <div id="atrament-app"></div>
    <script type="module" src="/src/index.jsx"></script>
  </body>
</html>
