.progress_frame {
  border: 1px solid var(--fg-color);
  border-radius: var(--border-radius-inline);
  position: relative;
  overflow: hidden;
}

.progress_bar {
  position: absolute;
  height: 100%;
  text-align: left;
  opacity: 0.3;
}

.progress_bar_solid {
  opacity: 0.7;
}

.standard {
  background-color: var(--fg-color);  
}

.accent {
  background-color: var(--accent-fg-color);
}

.borderless {
  border: 1px solid transparent;
}

.progress_content {
  padding: 0.25rem;
}
