.menu_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 150;
}

.menu_toggle {
  position: absolute;
  vertical-align: top;
  right: 0px;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--font-color);
  z-index: 150;
}

.menu_content {
  padding: 1rem;
}

.atrament_version {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.atrament_version:hover {
  cursor: pointer;
}


.atrament_about {
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 0.2em;
}

.atrament_appversion {
  background-color: var(--shade-color);
  color: var(--fg-color);
  padding: 0.2em;
  padding-left: 0.3em;
}

.atrament_appversion:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}
