.menu_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 150;
}

.menu_toggle {
  position: absolute;
  vertical-align: top;
  right: 0px;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--font-color);
  z-index: 150;
}
