.overlay_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  z-index: 80;
}

.overlay_header {
  min-height: 2.5em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: center;
  display: flex;
  font-family: var(--font-face-game);
}

.overlay_header > * {
  vertical-align: middle;
}

.overlay_header_modal {
  margin: 1rem;
  margin-bottom: 0;
}

.overlay_header_bottom_line {
  border-bottom: 1px solid var(--fg-color);
}

.overlay_title {
  flex-grow: 1;
  margin-right: 3rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_title_modal {
  justify-content: left;
}

.overlay_content {
  padding: 1rem;
  flex-grow: 1; 
  overflow: auto;
}

.overlay_content p {
  margin-top: 0;
}

.overlay_content p ul {
  margin-top: 0;
  margin-bottom: 0;
}

.button_back {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--font-color);
  flex-shrink: 0;
  width: 3rem;
}
