.settings_theme_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.settings_theme_button {
  display: block;
  padding: 0.75em;
  flex: 20%;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--fg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
