.close {
  width: 100%;
  text-align: right;
}

.close button {
  background-color: var(--bg-color);
  color: var(--accent-fg-color);
  border: 1px solid var(--accent-fg-color);
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.close button:hover {
  background-color: var(--accent-fg-color);
  color: var(--bg-color);
}
