.paragraph {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

.paragraph:first-child {
    margin-block-start: 0;
}

.paragraph:last-child {
    margin-block-end: 0;
}
