.modal {
  margin: auto;
  width: 80%;
  background: var(--bg-color);
  opacity: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: var(--border-radius);
}

@media (max-width: 960px) {
  .modal {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .modal {
    width: 95%;
  }
}