:root {
  --bg-color: #FCFCFC;
  --fg-color: #5D576B;
  --shade-color: rgba(0, 0, 0, 0.1);
  --font-color: #333333;
  --accent-bg-color: #FCFCFC;
  --accent-fg-color: #F7567C;
  --border-radius: 0.5rem;
  --border-radius-inline: 0.25rem;
  --font-interface: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --game-font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1.2em;
  font-family: var(--font-interface);
}

* {
  box-sizing: border-box;
}

mark {
  background-color: inherit;
  color: var(--accent-fg-color);
}

blockquote {
  border-left: 0.2em solid var(--accent-fg-color);
  margin-left: 0;
  padding-left: 1em;
}

h1, h2, h3, h4, h4, h6 {
  line-height: normal;
}

@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

a, a:visited {
  color: var(--accent-fg-color);
}

.animation_appear {
  animation-name: appear;
  animation-duration: var(--animation-disabled, 0.5s);
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* scrollbars */

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}