.inline_link, .inline_link:visited {
  display: inline;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: var(--fg-color);
  text-decoration: underline;
  -webkit-appearance: none;
}

.inline_link:hover {
  color: var(--accent-fg-color);
  text-decoration: none;
}

.inline_link:disabled {
  cursor: default;
}
