.aside_image_wrapper { 
  flex-shrink: 0;
}

.aside_image_wrapper_left {
  order: -1;
  margin-right: 0.5em;
  max-height: 100%;
}

.aside_image_wrapper_right {
  order: 1;
  margin-left: 0.5em;
  max-height: 100%;
}

.aside_image {
  width: 100%;
}

