.scroller {
  width: inherit;
  height: inherit;
  overflow: hidden;
  position: relative;
}

.episode {
  width: calc(100% + 17px);
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: content-box;
  position: relative;
  background-repeat: repeat;
  background-attachment: local;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px) {
  .episode {
    width: 100%;
  }

  .episode::-webkit-scrollbar {
    display: none;
  }
}

.paragraphWrapper {
  margin-top: auto;
  width: 100%;
}

.currentScene {
  opacity: 0;
}
