.settings_sound_container {
  display: flex;
  flex-direction: row;
}

.settings_sound_input_container {
  flex-grow: 1;
}

.settings_sound_volume {
  width: 100%;
  margin-top: 0.1rem;
  vertical-align: top;
  accent-color: var(--fg-color);
}

.settings_sound_icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.2rem;
  min-width: 2.5rem;
}
