.error_modal_content {
  color: var(--accent-bg-color);
  background-color: var(--accent-fg-color);
  padding: 1rem;
  font-size: 120%;
}

.error_message {
  font-family: monospace;
  margin-top: 0;
}
