@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(Alegreya-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url(Alegreya-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url(Alegreya-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url(Alegreya-BoldItalic.woff2) format('woff2');
}
