.toolbar {
    max-height: 2.5em;
    overflow: auto;
    padding: 0.5em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-bottom: 1px solid var(--fg-color);
}

.toolbar > * {
    vertical-align: middle;
}