html, body {
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-size: 100%;
	font-family: sans-serif;
	font-weight: 400;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#atrament-ui-app {
	border: 1px solid #F2E9E4;
	background-color: #F2E9E4;
	margin: 0 auto;
	height: 100vh;
}

@media (min-width: 961px) {
	#atrament-ui-app {
		aspect-ratio: 9 / 16;
	}	
}


/* text sizes */
h1 {
	font-size: 2.6em;
	text-align: center;
}

#settings {
	font-size: 1rem;
}

#settings-font-sample {
	width: 100%;
	text-align: left;
	padding: 1rem;
}


/* game container */
.atrament-game {
	position: relative;
	max-height: 100vh;
	margin: -1px;
}

.toolbar {
	position: absolute;
	width: 100%;
	/* border: 1px solid #000000; */
	text-align: right;
	padding: 0.5rem;
	font-size: 2em;
}

/* atrament-story */

.atrament-story {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding-bottom: 1rem;
}

.atrament-story-content {
	margin: auto;
}

.atrament-story::-webkit-scrollbar {
    display: none;
}

.atrament-paragraph {
	padding-left: 1rem;
	padding-right: 1rem;
}

.atrament-paragraph p {
	margin-top: 0;
}

.atrament-choice {
	margin-top: 0.5rem;
	font-size: 1em;
	padding: 0.5rem;
	width: 100%;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.old-text {
	opacity: 60%;
}
