* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none; /* disallow pull-to-refresh on Android */
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border:0;
}

a {
  color: #303F9F;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* avoid highlight on Android */
}

#app {
  width: 360px;
  height: 616px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  overflow: hidden;
}

@media (max-width: 480px) {
  #app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: none;
    margin: 0 0;
    transform: none;
    transform-origin: none;
  }
}

img {
  width: 90%;
  margin: auto;
}
