/* Write custom CSS classes and rules here */

/*
Atrament UI elements classes:
.atrament-ui-app            Application wrapper div
.atrament-backdrop          Modal backdrop
.atrament-block             Block
.atrament-container         Application container div
.atrament-flex-container    Application flex container div
.atrament-menu-button       Menu button
.atrament-image-container   Image container div
.atrament-image             Image inside of a container
.atrament-text-container    Text container div
.atrament-header            Header
.atrament-loading           Loading animation div
.atrament-modal             Modal div
.atrament-toolbar           Toolbar div
.atrament-container-choices Container for choices list
.atrament-container-scene   Scene container div
.atrament-scene             Scene content div
.atrament-scene-current     Current (i.e. latest) scene content div
.atrament-paragraph         Paragraph content div
.atrament-paragraph-read    Already read paragraph content div
.atrament-prompt            Prompt before choices
.atrament-choices           Wrapper for choice buttons
.atrament-choice            Choice button
.atrament-game-end          End game button (it has "atrament-menu-button" class too) 

Overlays:
.atrament-overlay-container       Fullscreen overlay container div
.atrament-overlay-header          Fullscreen overlay header div
.atrament-overlay-title           Fullscreen overlay title div
.atrament-overlay-content         Fullscreen overlay content div
.atrament-overlay-header-modal    Modal overlay header div
.atrament-overlay-title-modal     Modal overlay title div
.atrament-overlay-content-modal   Modal overlay content div


Markup tags classes:
.atrament-tag-banner                [banner]
.atrament-tag-block                 [block]
.atrament-tag-button                [button]
.atrament-tag-highlight             [highlight]
.atrament-tag-info                  [info]
.atrament-tag-img                   [img]
.atrament-tag-input                 [input]
.atrament-tag-link                  [link]
.atrament-tag-progressbar           [progressbar]
.atrament-tag-progressbar-gauge     Progress bar gauge
.atrament-tag-progressbar-content   Progress bar text content
.atrament-tag-separator             [---]
.atrament-tag-spoiler               [spoiler]
.atrament-tag-table                 [table]
.atrament-tag-url                   [url]
.atrament-tag-video                 [video]

Internal CSS variables:
--app-aspect-ratio          Application aspect ratio
--inactive-text-opacity     Opacity of inactive scene content
--text-line-height          Line height of paragraph text
--text-indent               First line indentation of paragraph text

To change them, add the following section into this file
with new variable values:
:root {
  --app-aspect-ratio: 10/16;
}

*/


/*
You can include other CSS files here, using this syntax:

@import url(your_css_file.css);

These CSS files should be located in this folder.
*/
