.settings_font_container {
  width: 100%;
}

.settings_font_container select {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border: 1px solid var(--fg-color);
  border-radius: var(--border-radius);
}
