.menu_button {
  display: block;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--fg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.menu_button:disabled {
  background-color: var(--shade-color);
  color: var(--fg-color);
  opacity: 0.6;
  cursor: inherit;
}

.menu_button:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.accented_button {
  color: var(--accent-fg-color);
  border: 1px solid var(--accent-fg-color);
}

.accented_button:hover {
  background-color: var(--accent-fg-color);
  color: var(--accent-inverse-color);
}
