.map {
  background-size: cover;
	background-repeat: no-repeat;
	width: 360px;
  height: 616px;
  border: 1px solid #000000;
  position: relative;
}

.point {
  padding: 0px;
  border: 1px solid #000000;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  position: absolute;
	background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 6px #eeeeee;
  cursor: pointer;
}

.marker {
  border-radius: 20px;
  background-color: #eeeeee;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-position: center;
	background-size: contain;
  background-repeat: no-repeat;
  transition: left 0.8s ease-in-out, top 0.8s ease-in-out;
}

.caption {
  position: relative;
  border: 1px solid #000000;
  background-color: #FFF9C4;
  margin: auto;
  margin-top: 50px;
  font-family: 'Georgia', serif;
  font-size: 0.7em;
  text-align: center;
  width: 60px;
}