.playground {
  padding: 1em;
  background-color: #EEEEEE;
  height: 100vh;
}

.playground h1 {
  text-align: center;
}

.playground li {
  font-size: 1.5em;
}

.btn {
  padding: 0.3em;
  background-color: #CCCCCC;
}