.header {
  display: flex;
  align-items: center;
  margin: 0px;
}

.header img {
  display: block;
  flex-grow: 0;
  height: 5em;
  margin-right: 1em;
}

.header small {
  display: block;
  opacity: 0.8;
}

.infobox {
  display: flex;
  align-items: center;
}

.infobox img {
  width: 20%;
  flex-grow: 0;
  margin-right: 1em;
}
