.application_wrapper {
  background-color: var(--bg-color);
  margin: 0 auto;
  height: var(--screen-vh);
  height: 100svh;
}

@media (min-width: 961px) {
  .application_wrapper {
    aspect-ratio: var(--app-aspect-ratio);
  }
}
