<?xml version='1.0' encoding='utf-8'?>
<widget id="{{id}}" version="{{version}}" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>{{name}}</name>
  <description>{{description}}</description>
  <author email="{{email}}" href="{{website}}">{{author}}</author>
  <content src="index.html" />
  <icon src="{{icon}}" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <preference name="Orientation" value="{{orientation}}" />
  <preference name="android-minSdkVersion" value="36" />
  <preference name="android-targetSdkVersion" value="36" />
</widget>
